.landing-final-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    grid-template-rows: 30vh 50vh; /* Bloques superiores 30vh, bloques inferiores 50vh */
    gap: 10px;
    padding: 0px 20px;
    margin-bottom: 100px;
}

/* Bloques generales */
.block {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

/* Bloque 1 y 2: Imagen con texto */
.block img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.block-1 .text-overlay{
    color: #000000;
}
.block-2 .text-content {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: #fff;
    padding: 20px;
  
    border-radius: 10px;
}

.block-1 .text-overlay h2 {
    font-family: 'Eurostile-Heavy';
    font-size: 2.3rem;
    text-transform: uppercase;
    line-height: 1.4;
 
}

/* Estilo base para el título */
.block-2 .text-content h2 {
    font-family: 'Eurostile-Heavy';
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    white-space: normal; /* Por defecto, permite saltos de línea */
   
}

.block-2 .text-content ul {
    
    font-size: 1rem;
    line-height: 1.5;
    list-style-type: disc;
    padding-left: 20px;
}
.block-2 .text-content li{
    font-family: 'Eurostile-Medium';
}
/* Bloque 3: Texto sobre imagen */
.block-3 {
    position: relative;
    height: 100%; /* Asegura que el bloque ocupe todo el espacio disponible */
    border-radius: 15px;
    overflow: hidden; /* Limita el contenido dentro del contenedor */
    background: url('../Assets_Representante/Unidad3/Representante_BotonArquitecto.png') no-repeat center center; /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el bloque */
}

/* Contenedor de texto dentro del bloque */
.block-3 .text-content {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 46%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el texto al centro del bloque */
    color: #000; /* Color del texto */
    
    padding: 20px;
width: 800px;
    border-radius: 10px;
}

.block-3 .text-content h2 {
    font-family: 'Eurostile-Heavy';
    font-size: 2.3rem;
    margin-bottom: 10px;
    color: #000;
}

.block-3 .text-content p {
    font-family: 'Eurostile-Medium';
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.block-3 .text-content strong {
    font-family: 'Eurostile-Heavy';
    color: #000;
}
/* Estilo del botón personalizado */
.custom-button {
    display: block;
    width: 100%; /* Ocupa todo el ancho de la caja de texto */
    text-align: center;
    background-color: transparent; /* Fondo negro */
    color: #000000; /* Texto blanco */
    border: 2px solid #000; /* Borde negro */
    padding: 15px 20px;
    font-family: 'Eurostile-Heavy', Arial, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave */
}

/* Hover: cambia a texto transparente y el fondo permanece negro */
.custom-button:hover {
    color: #2292ce; /* Texto transparente */
    background-color: #000; /* Fondo negro */
    border-color: #000; /* Mantiene el borde negro */
   
}

/* Ajustes específicos para pantallas de 1700px o más */
@media (max-width: 1700px) {
    .landing-final-section {
       
        grid-template-rows: 30vh 65vh; /* Bloques superiores 30vh, bloques inferiores 50vh */
       
    }
    .block-1 .text-overlay h2 {
        font-size: 1.9rem;
    }
    .block-2 .text-content h2 {
        font-size: 1.7rem;
        margin-bottom: 5px;
    }
    .block-2 .text-content {
       
        padding: 10px;
      
        border-radius: 15px;
    }
    
    .block-3 .text-content h2 {
         font-size: 2rem; 
    }
    .block-3 .text-content {
        top: 50%; /* Sigue centrado verticalmente */
        left: 50%; /* Sigue centrado horizontalmente */
        transform: translate(-50%, -50%); /* Mantiene el texto en el centro */
        width: 700px;
        padding: 30px; /* Espaciado más cómodo */
    }

  
/* Bloque 1 y 2: Imagen con texto */
.block img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    
}
    .block-3 .text-content p {
        font-size: 1.1rem; /* Reduce ligeramente el tamaño del párrafo */
        line-height: 1.3; /* Incrementa la separación entre líneas */
    }
}

/* Bloque 4: Formulario */
.block-4 {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    border-radius: 15px;
}

/* Imagen de fondo del formulario */
.block-4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets_Representante/Unidad3/Representante_Formulario.png'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir el fondo */
    background-position: center; /* Centra la imagen */
    z-index: 1; /* Asegura que esté debajo del contenido */
    filter: brightness(0.8); /* Oscurece un poco la imagen para mayor contraste */
}

/* Contenedor del formulario */
.block-4 .form-container {
    position: relative;
    z-index: 2; /* Coloca el formulario por encima de la imagen de fondo */
    width: 95%;
    margin: auto;
    padding: 20px;

    border-radius: 10px;
    
    text-align: center;
}

.block-4 h2 {
    text-align: left;
    font-family: 'Eurostile-Regular';
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.block-4 form {
    display: flex;
    flex-direction: column;

}

.block-4 form input,
.block-4 form textarea,
.block-4 form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 1rem;
    
}
/* Cambia el color del placeholder a negro */
.block-4 form input::placeholder,
.block-4 form textarea::placeholder {
    color: #000; /* Color negro */
    font-family: 'Eurostile-Regular'; /* Fuente que estás utilizando */
    opacity: 1; /* Asegura que el color se vea completamente */
}

/* Opcional: Si quieres cambiar el estilo del placeholder al enfocar el campo */
.block-4 form input:focus::placeholder,
.block-4 form textarea:focus::placeholder {
    color: #000000; /* Cambia a un tono más claro al enfocar */
    transition: color 0.3s ease; /* Animación suave */
}

.block-4 form button {font-family: 'Eurostile-Heavy';
    background-color: transparent;
    color: #ff6600;
    border: 2px solid #ff6600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.block-4 form button:hover {
    color: #000;
    background-color: #ff6600;
}
/* Opciones seleccionables del formulario */
.form-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-options .option {
    background: none; /* Fondo transparente */
    font-family: 'Eurostile-Regular', Arial, sans-serif; /* Fuente Eurostile */
    border: 2px solid #666; /* Borde gris */
    color: #000000; /* Texto blanco */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a pointer */
    flex: 1; /* Ocupar el mismo espacio */
    text-align: center;
    margin-right: 10px; /* Espaciado entre opciones */
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Transición suave */
}

.form-options .option:last-child {
    margin-right: 0; /* Elimina margen derecho del último botón */
}

/* Estilo para la opción activa (seleccionada) */
.form-options .option.active {
    font-family: 'Eurostile-Bold', Arial, sans-serif; /* Fuente en negrita */
    border-color: #ff6600; /* Borde naranja */
    background-color: #ff6600; /* Fondo naranja */
    color: #fff; /* Texto blanco */
}

/* Hover para opciones no seleccionadas */
.form-options .option:hover:not(.active) {
    border-color: #ff6600; /* Cambia el borde a naranja */
}

/* Responsive para pantallas pequeñas */
@media (max-width: 1200px) {
    .form-options {
        flex-direction: column; /* Opciones apiladas verticalmente */
        gap: 10px; /* Espaciado entre opciones */
    }

    .form-options .option {
        margin-right: 0; /* Elimina margen derecho en diseño vertical */
        margin-bottom: 10px; /* Agrega margen inferior */
    }

    .form-options .option:last-child {
        margin-bottom: 0; /* Elimina margen inferior del último botón */
    }
}

@media (max-width: 768px) {
/* Bloque 1 y 2: Imagen con texto */
.block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

    /* Configuración general */
    .landing-final-section {
        grid-template-columns: 1fr; /* Una sola columna */
        grid-template-rows: auto; /* Altura automática para cada bloque */
        gap: 10px; /* Espaciado entre bloques */
        padding: 0 20px;
    }
   
    /* Bloques generales */
    .block {
        height: auto; /* Altura automática */
        border-radius: 10px; /* Mantiene bordes redondeados */
    }
    .block-2 {
        height: auto; /* Altura automática para ajustarse al contenido */
        min-height: 28vh; /* Aumenta la altura mínima */
    }
    .block-3 {
        height: auto; /* Altura automática para ajustarse al contenido */
        min-height: 40vh; /* Aumenta la altura mínima */
    }
    /* Bloque 1 y 2 */
    .block img {
     
        object-fit: cover; /* Ajusta la imagen */
    }

    .block-1 .text-overlay h2,
    .block-2 .text-content h2 {
        font-size: 1.1rem; /* Ajusta el tamaño del texto */
       
    }
   
    .block-2 .text-content ul {
        font-size: 0.9rem; /* Reduce el tamaño de la lista */
        line-height: 1.4; /* Ajusta el interlineado */
        padding-left: 10px; /* Reduce la sangría de la lista */
    }

    /* Bloque 3: Texto sobre imagen */
    .block-3 {
        background-position: center; /* Centra la imagen */
        background-size: cover; /* Escala la imagen */
        height: 250px; /* Ajusta la altura */
    }

    .block-3 .text-content {
        width: 90%; /* Limita el ancho del texto */
        padding: 15px; /* Reduce el padding */
        font-size: 0.9rem; /* Reduce el tamaño del texto */
    }

    .block-3 .text-content h2 {
        font-size: 1.1rem; /* Reduce el tamaño del título */
    }

    .block-3 .text-content p {
        font-size: 0.9rem; /* Reduce el tamaño del párrafo */
        line-height: 1.4; /* Ajusta el interlineado */
    }

    .custom-button {
        padding: 10px 15px; /* Reduce el padding del botón */
        font-size: 0.9rem; /* Reduce el tamaño de la fuente */
    }

    /* Bloque 4: Formulario */
    .block-4 {
        height: auto; /* Altura automática */
    }

    .block-4 .form-container {
        padding: 15px; /* Reduce el padding interno */
    }

    .block-4 h2 {
        font-size: 1.6rem; /* Reduce el tamaño del título */
        text-align: center; /* Centra el título */
    }

    .block-4 form input,
    .block-4 form textarea,
    .block-4 form button {
        padding: 10px; /* Reduce el padding de los campos */
        font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
    }

    /* Opciones seleccionables del formulario */
    .form-options {
        flex-direction: column; /* Opciones apiladas verticalmente */
        gap: 10px; /* Espaciado entre opciones */
    }

    .form-options .option {
        font-size: 0.9rem; /* Ajusta el tamaño del texto */
        padding: 10px; /* Reduce el padding */
    }

    .form-options .option.active {
        border-color: #ff6600; /* Borde naranja */
        background-color: #ff6600; /* Fondo naranja */
        color: #fff; /* Texto blanco */
    }
}
@media (max-width:376px){ 
.block-2 {
    height: auto; /* Altura automática para ajustarse al contenido */
    min-height: 40vh; /* Aumenta la altura mínima */
}
.block-3 {
    height: auto; /* Altura automática para ajustarse al contenido */
    min-height: 55vh; /* Aumenta la altura mínima */
}}



