/* Contenedor principal */
.starter-kits-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    grid-template-rows: 45vh 45vh; /* Dos filas, cada una ocupa 45vh */
    gap: 10px; /* Espaciado entre elementos */
    height: 90vh; /* Altura total de la sección */

    padding: 10px 20px; /* Padding de los bordes */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    margin-bottom: 30px;
}


.socalo h2{
    font-family: 'Eurostile-Heavy';
}
/* Imagen grande a la izquierda */
.left-image {
    grid-column: 1 / 2; /* Primera columna */
    grid-row: 1 / 3; /* Ocupa ambas filas */
    position: relative;
 
    flex-direction: column;
    
    border-radius: 15px;
    overflow: hidden;
    height: 100%; /* Se ajusta al contenedor */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.left-image img {
    width: 100%;
    height: 100%; /* Ocupa todo el contenedor */
    object-fit: cover; /* Ajusta la imagen sin distorsión */
    transition: transform 0.3s ease; /* Agrega suavidad al hover */
    border-radius: 15px;
}

/* Socalo con degradado naranja/blanco/negro */
.left-image .socalo {
    text-align: center;
    
    padding: 30px;
    color: #000; /* Texto inicial en negro */
    font-family: 'Eurostile-Heavy', Arial, sans-serif;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 20px 20px 10px 10px; /* Bordes inferiores redondeados */
    background: linear-gradient(45deg, #eba334 , #e27736); /* Degradado personalizado */
  
    transition: transform 0.3s ease, color 0.3s ease; /* Transiciones suaves para el socalo y texto */
    
}



/* Hover en la imagen afecta al socalo */
.left-image:hover .socalo {
    transform: scale(1.02); /* El socalo sube de la parte superior */
    color: #FFF; /* El texto cambia a blanco */
}



/* Carrousel a la derecha */
.right-carousel {
    grid-column: 2 / 3; /* Segunda columna */
    grid-row: 1 / 2; /* Primera fila */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ocupa toda la fila */
}

.carousel-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer; /* Cambia el cursor a mano */
}

/* Socalo en verde */
.socalo-green {
    background-color: #08de9e; /* Socalo en verde */
    text-align: left;
    padding: 20px;
    color: #000000;
    font-family: 'Eurostile-Heavy', Arial, sans-serif;
    font-size: 1.2rem;
    position: absolute;
    top: 0; /* Cambia bottom por top */
    width: 100%;
    border-radius: 0px 0px 20px 20px; /* Bordes superiores rectos, inferiores redondeados */
    z-index: 1; /* Asegúrate de que el socalo esté por encima del contenido */
    transition: transform 0.6s ease, color 0.6s ease; /* Suavidad en la transición */
}


.carousel-container-second:hover .socalo-green {
    transform: scale(1.02); /* Amplía ligeramente */
    color: #ffffff; /* Cambia el color del texto a blanco */ 
    cursor: pointer; /* Cambia el cursor a mano */
}
.socalo-green h2{
    font-family: 'Eurostile-Heavy';
}



/* Flechas de navegación */
.slider-controls .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 20%;

}
.slider-controls2 .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 20%;

}
.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.slider-controls ul {
    position: absolute;
    right: 20px;
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    z-index: 1; /* Mantén este valor más bajo */
}
.slider-controls ul li {
    width: 12px;
    height: 12px;
    border: 1px solid #333;
    border-radius: 50%;
    background: #414141;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slider-controls ul li.selected {
    background: #414141;
    width: 30px; /* Más alargado cuando está seleccionado */
    border-radius: 15px; /* Para hacer los bordes redondeados */
    transform: scale(1); /* Sin escalado adicional */
    transition: all 0.3s ease;
}
.slider-controls2 ul {
    position: absolute;
    top: 20px; /* Cambia bottom por top */
    right: 20px;
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    z-index: 1; /* Asegúrate de que estén por encima del socalo */
}

.slider-controls2 ul li {
    width: 12px;
    height: 12px;
    border: 1px solid #333;
    border-radius: 50%;
    background: #414141;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slider-controls2 ul li.selected {
    background: #414141;
    width: 30px; /* Más alargado cuando está seleccionado */
    border-radius: 15px; /* Para hacer los bordes redondeados */
    transform: scale(1); /* Sin escalado adicional */
    transition: all 0.3s ease;
}

/* Opciones abajo */
.options {
    display: flex;
    gap: 10px; /* Espaciado entre opciones */
    height: 100%; /* Ocupa toda la fila */
}


.option {
    flex: 1; /* Ocupa el 50% del espacio */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer; /* Indica que es clickeable */
    transition: transform 0.6s ease; /* Suavidad en la transición */
}

/* Imagen dentro de cada opción */
.option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.6s ease; /* Efecto de zoom en la imagen */
}
/* Hover en las imágenes */
.option:hover img {
    transform: scale(1.1); /* Zoom en la imagen */
}
/* Etiqueta de opción */
.option-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #00b17b; /* Fondo verde */
    color: #fff;
    font-family: 'Eurostile-Heavy', Arial, sans-serif;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px; /* Bordes redondeados */
    
}
/* Superposición del texto */
.text-overlay-option {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;

    color: #000000;
    text-align:left;

    font-size: 1.8rem;
}
.text-overlay-option h2{
font-family: 'Eurostile-Heavy';}


@media (max-width:1700px){
    .text-overlay-option h2{
        font-family: 'Eurostile-Heavy';
    font-size: 1.5rem;}
/* Imagen grande a la izquierda */
.left-image {
  
    justify-content: flex-end; /* Socalo abajo */
   
}

 
}
/* Responsive para pantallas de 768px o menos */
@media (max-width: 768px) {
    /* Contenedor principal */
    .starter-kits-section {
        display: flex;
        flex-direction: column; /* Cambia a disposición en columna */
        gap: 10px; /* Espaciado entre elementos */
        height: auto; /* Altura automática */
        padding: 8px 20px; /* Padding reducido */
        margin-bottom: 0px;
    }

    /* Imagen grande a la izquierda */
    .left-image {
        height: 100%; /* Ajusta la altura */
    }

    .left-image img {
        height: 100%; /* Asegura que ocupe el contenedor */
    }

    .left-image .socalo {
        font-size: 1rem; /* Tamaño de texto más pequeño */
        padding: 15px; /* Reduce el padding */
    }
    .socalo h2{
        font-size: 1.1rem;
    }
   
    .slider-controls2 ul{
        top: 40px; /* Cambia bottom por top */
        right: 20px;
    }
    .carousel-container {
        height: 100%; /* Ocupa toda la altura disponible */
    }

    .socalo-green {
        font-size: 1rem; /* Texto más pequeño */
        padding: 15px; /* Reduce el padding */
    }
.socalo-green h2{
    font-size: 1.1rem;
    text-align: center;
}
    /* Opciones abajo */
    .options {
        flex-direction: column; /* Opciones en columna */
        gap: 10px; /* Espaciado entre opciones */
    }

    .option {
        height: 45vh; /* Altura ajustada para cada opción */
    }

    .option img {
        height: 40vh; /* Imagen ocupa el 80% */
    }

    .text-overlay-option {
        font-size: 1.2rem; /* Tamaño de texto más pequeño */
        padding: 10px; /* Reduce el padding */
    }

    .option-label {
        font-size: 0.9rem; /* Reduce el tamaño del texto de las etiquetas */
        padding: 3px 7px; /* Reduce el padding */
    }
    
}
