/* Estilo general */
.arquitecto1 {
    
    font-family: "Montserrat", sans-serif;
    background-image: url('../AssetsDesarrolladores/Assets/WebDesarrolladoresL2B_Fondo.png');
    /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    /* Asegura que la imagen cubra todo el div */
    background-position: center;
    /* Centra la imagen */
}

strong{
  font-family: 'Eurostile-Heavy';
}


/*-----Logo------ */
.menu__bar2 {
    display: flex;
    align-items: center;
  
  
  }
  
  .logo {
    display: block;
    margin-left: 0;
    /* Asegura que el logo esté alineado a la izquierda */
  }
  
  
  /*-----Estilo de NAV------ */
  
  .menu__bar2 {
    background-color: transparent;
    z-index: 5;
    transition: background-color 0.3s, color 0.3s;
  }
  
  
  
  /* Estilos para el menú después de hacer scroll */
  .menu__bar2.scrolled {
    
    background-color: rgba(255, 255, 255, 0.8);
    /* Color de fondo semitransparente */
    background-image: url('../AssetsDesarrolladores/Assets/Unidad1/L2B_Menu_\ Sin\ texto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    z-index: 10; /* Aumenta el z-index */
}

  .menu__bar2.scrolled {
    color: rgb(255, 255, 255) !important;
    /* Color de los enlaces después de hacer scroll */
  }
  
  
  
  .menu__bar2.scrolled .logo-img2 {
    filter: none;
    /* Elimina el filtro para que el logo conserve su color original */
  }
  
  .menu__wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 2;
  }
  
  .menu__bar2 {
    position: fixed;
    width: 100%;
    /* Para que ocupe todo el ancho visible */
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 1.5rem;
    gap: 2rem;
    height: 6rem;
    opacity: 0.9;
    margin: 0 auto;
    /* Centra la barra de navegación */
    left: 0;
    right: 0;
  
  }
  
  @media (max-width:786px) {
    .menu__bar2 {
      padding: 0 1rem;
    }
  }
  
  .menu-icon {
    cursor: pointer;
    display: flex;
    height: 2rem;
    width: 2rem;
    z-index: 1002;
    /* Asegura que el ícono esté por encima del menú */
  }
  
  .menu__bar2 .menu-icon {
    filter: brightness(0) invert(0);
    transition: filter 0.3s ease;
    /* Transición suave */
  }
  
  .menu__bar2.scrolled .menu-icon {
    filter: invert(1);
    /* Hace que el icono sea negro */
  }
  
  
  .navigation2 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 5rem;
    padding: 0;
  
  }
  
  .logo svg {
    width: 2rem;
    height: 2rem;
  }
  
  .navigation2>li {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 1.45rem;
  }
  /* Estilo para la flecha desplegable */
  .dropdown-arrow2 {
    width: 12px; /* Ajusta el tamaño según prefieras */
    height: auto;
    margin-left: 5px; /* Espacio entre el texto y la flecha */
    vertical-align: middle; /* Alinea la imagen con el texto */
    transition: transform 0.3s ease;
  }
  .dropdown-link:hover {
    color: #0673ac; /* Color del texto al hacer hover */
  }
  
  /* Cambiar color del SVG al pasar el mouse */
  .dropdown-link:hover .dropdown-arrow2 {
    filter: invert(24%) sepia(94%) saturate(2625%) hue-rotate(185deg) brightness(95%) contrast(102%);
  }
  /* Girar la flecha cuando el submenú esté desplegado */
  .navigation2 li.open-submenu > a .dropdown-arrow2 {
    transform: rotate(180deg); /* Rotación hacia arriba */
  }
  /* Para que la flecha esté en línea y sea más pequeña */
  .navigation2 a .dropdown-arrow2 {
    
    font-size: 0.8rem;
    /* Tamaño más pequeño */
    margin-left: 5px;
    vertical-align: middle;
    /* Alineación vertical */
    color: #666;
    /* Color gris más sutil */
    transition: transform 0.3s ease;
  }
  
  
  .navigation>li>a {
    font-family: 'Eurostile-Bold';
    color: rgb(255, 249, 249)!important;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 800;
    background-image: linear-gradient(to right, var(--primary), var(--primary) 50%, rgb(0, 0, 0) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 0.2rem 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .menu__bar2.scrolled .navigation2>li>a {
    color: rgb(255, 255, 255) !important;
  }
  
  .navigation2>li>a:before {
    font-family: 'Eurostile-Heavy';
    content: '';
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    transition: all 0.2s ease-in-out;
  }
  
  .navigation2>li>a:hover {
    background-position: 0;
  }
  
  .navigation2>li>a:hover::before {
    width: 100%;
  }
  
  
  
  /* Rotar flecha hacia arriba cuando se despliega el submenú */
  .navigation2 li:hover>a::after {
    transform: rotate(180deg);
    /* Rotar la flecha hacia arriba */
    color: #333;
    /* Cambiar a un color más oscuro */
  }
  
  /* Mantener el fondo azul en el enlace activo al desplegar el submenú */
  .navigation2 li:hover>a {
    background-position: 0;
    color: #fff;
  }
  
  .navigation2>li {
    position: relative;
  }
  
  .navigation2 a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    display: block;
    position: relative;
  }
  
  /* Estilo para los submenús */
  .submenu {
    border-radius: 15px 15px;
    font-size: 1rem;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo oscuro para resaltar submenú */
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  /* Estilo para los elementos del submenú */
  .submenu li {
    position: relative;
  }
  
  .submenu a {
    font-family: 'Eurostile-Bold';
    padding: 10px 8px;
    color: #050505;
    white-space: nowrap;
  }
  
  /* Flecha hacia la derecha para submenús de segundo nivel */
  .submenu li:has(ul)>a::after {
    content: '❯';
    /* Flecha fina hacia la derecha */
    font-size: 10px;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  
    color: #666;
    /* Color gris para más sutileza */
  }
  
  /* Estilos adicionales para el hover */
  .navigation2>li:hover>a::after,
  .submenu li:hover>a::after {
    color: #ffffff;
    /* Oscurece la flecha cuando se hace hover */
  }
  
  /* Opcional: ajustar margen o padding si es necesario */
  .navigation2 a {
    padding-right: 25px;
    /* Asegura que haya espacio para la flecha */
  }
  
  /* Muestra submenús en hover */
  .navigation2 li:hover>.submenu {
    
    display: block;
    transition: all 0.3s ease;
  }
  
  /* Fondo oscuro para submenús activos */
  .submenu li:hover {
    border-radius: 15px 15px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Submenú de segundo nivel (despliega a la derecha) */
  .submenu li .submenu {
    top: 0;
    left: 100%;
    margin-left: 1px;
  }
  
  /* Sombra y transición para el submenú */
  .navigation2 li:hover>.submenu,
  .submenu li:hover>.submenu {
    display: block;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 254, 254);
  }
  
  
  
  /*-------- Estilos del botón de WhatsApp--------- */
  @keyframes float {
  
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  }
  
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    animation: float 1s infinite;
  
  
  }
  
  .whatsapp-button a {
    display: block;
    padding: 15px;
    text-align: center;
  }
  
  .whatsapp-button img {
    width: 85px;
    /* Tamaño del icono de WhatsApp */
    height: 85px;
  
  }
  
  @media (min-width: 600px) {
    .menu-icon {
      display: none;
    }
  }
  
  @media (max-width: 600px) {
    .whatsapp-button img {
      width: 55px;
      /* Tamaño del icono de WhatsApp */
      height: 55px;
  
    }
  
    .navigation2 {
      display: none;
    }
  
    .menu-icon {
      display: block;
    }
  
    .navigation--mobile {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      /* Cambia a fixed para ocupar toda la pantalla */
      display: flex;
      padding: 0;
      /* Elimina el padding para centrar correctamente */
      width: 100vw;
      /* Ocupa el ancho completo de la pantalla */
      height: 100vh;
      /* Ocupa el alto completo de la pantalla */
      /* Asegura que el menú ocupe toda la altura de la pantalla */
      background-color: rgb(214, 214, 214)!important;
      gap: 3rem;
      flex-direction: column;
      align-items: center;
      /* Centra horizontalmente */
      justify-content: center;
      /* Centra verticalmente */
  
  
      z-index: 1000;
      /* Asegura que el menú esté por encima de otros elementos */
    }
  
    /* Slide down animation */
    @keyframes slideDown {
      0% {
        opacity: 0;
        transform: translateY(-100%);
      }
  
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    .navigation2--mobile {
      animation: slideDown 300ms ease-out forwards;
    }
  
    /* Slide up (fade out) animation */
    @keyframes slideUp {
      0% {
        opacity: 1;
        transform: translateY(0);
      }
  
      100% {
        opacity: 0;
        transform: translateY(-100%);
      }
    }
  
    .navigation2--mobile--fadeout {
      animation: slideUp 300ms ease-out forwards;
    }
  
  
  
  .submenu li .submenu {
      position: relative; /* Cambia a relativo para apilar en móvil */
      top: 0;
      left: 0; /* No se desplazará hacia la derecha */
  }
   /* Ajustes de visualización para abrir submenús hacia abajo */
   .navigation2 li:hover > .submenu,
   .submenu li:hover > .submenu {
       display: block;
       margin-left: 20px; /* Aumenta el margen izquierdo para identar subniveles */
   }
  
  }
  
  
  
  
  
  
  
  
  section>h2 {
  
    margin-bottom: 1.5rem;
  }
  
  /*-----Foto header------ */
  /* 
    ---------------------------------------------
    Banner Style
    --------------------------------------------- 
    */
  
  .logo img {
    max-height: 60px;
  }
  
  @media (max-width:786px) {
  
    .logo img {
      max-height: 40px;
    }
  
  }

  
.navigation>li>a {
  font-family: 'Eurostile-Bold';
  color: rgb(255, 249, 249);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 800;
  background-image: linear-gradient(to right, var(--primary), var(--primary) 50%, rgb(0, 0, 0) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 0.2rem 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.menu__bar.scrolled .navigation>li>a {
  color: rgb(0, 0, 0) !important;
}

.navigation>li>a:before {
  font-family: 'Eurostile-Heavy';
  content: '';
  background: var(--primary);
  display: block;
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  transition: all 0.2s ease-in-out;
  
}

.navigation>li>a:hover {
  background-position: 0;
  
}

.navigation>li>a:hover::before {
  width: 100%;
}



/* Rotar flecha hacia arriba cuando se despliega el submenú */
.navigation li:hover>a::after {
  
  transform: rotate(180deg);
  /* Rotar la flecha hacia arriba */
  color: #333;
  /* Cambiar a un color más oscuro */
}

/* Mantener el fondo azul en el enlace activo al desplegar el submenú */
.navigation li:hover>a {
  background-position: 0;
  color: #fff;
}

.navigation>li {
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  display: block;
  position: relative;
}

/* Estilo para los submenús */
.submenu {
  border-radius: 15px 15px;
  font-size: 1rem;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  
  background-color: rgba(0, 0, 0, 0.8);
  /* Fondo oscuro para resaltar submenú */
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Estilo para los elementos del submenú */
.submenu li {
  position: relative;
}

.submenu a {
  font-family: 'Eurostile-Bold';
  padding: 10px 8px;
  color: #050505;
  white-space: nowrap;
}

/* Flecha hacia la derecha para submenús de segundo nivel */
.submenu li:has(ul)>a::after {
  content: '❯';
  /* Flecha fina hacia la derecha */
  font-size: 10px;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  color: #666;
  /* Color gris para más sutileza */
}

/* Estilos adicionales para el hover */
.navigation>li:hover>a::after,
.submenu li:hover>a::after {
  color: #000000;
  /* Oscurece la flecha cuando se hace hover */
}

/* Opcional: ajustar margen o padding si es necesario */
.navigation a {
  padding-right: 25px;
  /* Asegura que haya espacio para la flecha */
}

/* Muestra submenús en hover */
.navigation li:hover>.submenu {
  
  display: block;
  transition: all 0.3s ease;
}

/* Fondo oscuro para submenús activos */
.submenu li:hover {
  border-radius: 15px 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Submenú de segundo nivel (despliega a la derecha) */
.submenu li .submenu {
  top: 0;
  left: 100%;
  margin-left: 1px;
}

/* Sombra y transición para el submenú */
.navigation li:hover>.submenu,
.submenu li:hover>.submenu {
  display: block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 254, 254);
}

@media (max-width: 600px) {
  .whatsapp-button img {
    width: 55px;
    /* Tamaño del icono de WhatsApp */
    height: 55px;

  }

  .navigation {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .navigation--mobile {
    position: fixed;
    top: 50px; /* Espacio desde la parte superior */
    left: 0; /* Alineado a la izquierda */
    width: 100vw; /* Ocupa el ancho completo de la pantalla */
    height: calc(100vh - 50px); /* Ajusta la altura restando el espacio superior */
    background-color: rgb(253, 253, 253)!important; /* Fondo blanco */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    display: flex;
    flex-direction: column; /* Elementos en columna */
    padding: 1rem; /* Espaciado interno */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede */
    gap: 1rem; /* Espaciado entre los elementos */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    justify-content: flex-start; /* Ajusta el contenido hacia la parte superior */
}

  /* Slide down animation */
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navigation--mobile {
    animation: slideDown 300ms ease-out forwards;
  }

  /* Slide up (fade out) animation */
  @keyframes slideUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  .navigation--mobile--fadeout {
    animation: slideUp 300ms ease-out forwards;
  }



.submenu li .submenu {
    position: relative; /* Cambia a relativo para apilar en móvil */
    top: 0;
    left: 0; /* No se desplazará hacia la derecha */
}
 /* Ajustes de visualización para abrir submenús hacia abajo */
 .navigation li:hover > .submenu,
 .submenu li:hover > .submenu {
     display: block;
     margin-left: 20px; /* Aumenta el margen izquierdo para identar subniveles */
 }

}