/* Estructura principal del header */
.header2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 99vh;

}

/* Botones de navegación */
.header2 .botones {

    justify-content: space-around;
    height: 15vh;
    margin-top: 10px;
}

/* Imagen principal con texto superpuesto */
.header-main-image {
    position: relative;
    width: 100%;
    height: 50vh;
    /* Incrementa la altura al 50% de la pantalla */
    overflow: hidden;
}

.header-main-image img {
    border-radius: 15px;
    gap: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-text {
    position: absolute;
    left: 5%;
    /* Cambia 'right' a 'left' para posicionarlo en el lado izquierdo */
    bottom: 10%;
    /* Mantén la distancia inferior */
    color: #000000;

    padding: 20px;
    max-width: 40%;
    /* Limita el ancho del texto */
}

.main-text h2 {
    color: #000000;
    font-family: 'Eurostile-Heavy';
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    /* Asegura que el texto esté alineado a la izquierda */
}

.main-text p {
    font-family: 'Eurostile-Medium';
    font-size: 1.3rem;
    text-align: left;
    /* Asegura que el párrafo esté alineado a la izquierda */
}


/* Contenedor del carrusel */
.carousel-fullwidth {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Incrementa el alto del carrusel */
    overflow: hidden;
    /* Asegúrate de recortar el contenido excedente */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* Fuerza el redondeo */
    background-color: transparent;
    /* Asegúrate de que no haya fondo detrás */
}

/* Pista del carrusel */
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Transición suave */
    width: 100%;
}

/* Imagen de cada ítem */
.carousel-item {
    min-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.carousel-caption {
    position: absolute;
    top: 35%;
    /* Posición vertical ajustada para que esté más arriba */
    left: 5%;
    /* Mantén el texto alineado a la izquierda */
    color: #000000;


    padding: 10px 20px;
    border-radius: 10px;

    font-size: 1.2rem;
    /* Tamaño adecuado para pantallas grandes */
    max-width: 90%;
    /* Ajusta el ancho máximo del texto */
}

/* Imágenes dentro del carrusel */
.carousel-item {
    height: auto;
    /* Deja que el contenedor ajuste su altura a la imagen */
    overflow: hidden;
    /* Asegura que nada salga del contenedor */
}


.carousel-caption p {
    font-family: 'Eurostile-Medium';
    font-size: 1.2rem;
}

/* Texto alineado a la izquierda */
.caption-left {
    left: 5%;
    /* Texto a la izquierda */
    text-align: left;
}

/* Texto alineado a la derecha */
.caption-right {
    margin-top: -20px;
    left: 75%;
    text-align: left;
    /* Texto a la derecha */
  
}

/* Estilo de los títulos */
.carousel-caption h3 {
    font-family: 'Eurostile-Heavy';
    font-size: 2.2rem;
    margin-bottom: 10px;
}

/* Estilo de las listas */
.carousel-caption ul {
    list-style: none;
    /* Elimina los puntos de la lista */
    padding: 0;
}

.carousel-caption ul li {
    font-family: 'Eurostile-Medium';
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* Controles del carrusel */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    border-radius: 15px;
    transition: background 0.3s ease;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

@media (max-width:1780px) {
    .main-text {
        bottom: 5%;
    }

   /* Texto alineado a la derecha */
.caption-right {
    margin-top: -40px;
    left: 75%;
    text-align: left;
    /* Texto a la derecha */
  
}

    /* Texto alineado a la izquierda */
    .caption-left {
        margin-top: -30px;
        left: 10%;
        /* Texto a la izquierda */
        text-align: left;

    }

    .main-text h2 {
        font-size: 2.0rem;
    }

    .main-text p {
        color: #000000;
        font-size: 1rem;
    }

    /* Estilos de los títulos */
    .carousel-text2 h3 {
        font-size: 2.0rem;
    }

    /* Estilos de los párrafos */
    .carousel-text2 p {
        font-size: 1rem;
    }

    /* Contenedor del texto superpuesto */
    .carousel_caption {
        position: absolute;
        bottom: -225px;
        /* Posiciona el texto en la parte inferior */
        left: 50%;
        /* Centra el texto horizontalmente */
        transform: translateX(-40%);
    }

    /* Estilo del título */
    .carousel_caption .carousel_text {

        /* Fuente definida para títulos */
        font-size: 1.2rem;

    }
}

/* MEDIA QUERIES para pantallas pequeñas (celulares y tablets) */
@media (max-width: 768px) {
    .header2 {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding-top: 12vh;
    }

    .header-main-image img {
        border-radius: 15px;
        gap: 10px;
        width: 100%;
      
        object-fit: cover;
    }

    .botones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* Dos botones por fila, 50% cada uno */
        gap: 10px;
    }

    .contenido-header {
        display: block;
        /* Bloque para que gif y formulario estén uno debajo del otro */
    }

    .gif-container {
        width: 100%;
        /* El GIF ocupará el ancho completo */
        height: auto;
        /* La altura se ajustará automáticamente */
    }

    .gif-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
        /* Mantiene la proporción del GIF */
    }

    .formulario {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

 
    .caption-right {
        margin-top: -30px;
   
        /* Texto a la izquierda */
        text-align: left;
    }
}

@media (max-width: 786px) {
    /* Oscurecer solo las imágenes */


    /* Asegurarse de que el texto esté visible y nítido */
    .header-main-image .main-text,
    .carousel-slide .carousel-text2 {


        color: #fff;
        /* Asegura que el texto sea blanco y nítido */
    }

    .carousel-text2 h3 {
        color: #fff;
    }

    .carousel-text2 p strong {
        color: #fff;
    }
}


/* Ajustes para pantallas pequeñas (celulares y tablets) */
@media (max-width: 768px) {

    /* Apilar los divs */
    .carousel-section {
        display: flex;
        flex-direction: column;
        /* Cambia de horizontal a vertical */
        gap: 20px;
        /* Espaciado entre los divs */
        height: auto;
        /* Ajusta la altura automáticamente */
    }

    /* Carrusel izquierdo ocupa todo el ancho */
    .carousel-izquierdo {
        width: 100%;
        /* Ocupa todo el ancho */
        height: 40vh;
        /* Ajusta la altura */
    }

    /* Carrusel derecho ocupa todo el ancho */
    .carousel-derecho {
        width: 100%;
        /* Ocupa todo el ancho */
        height: 40vh;
        /* Ajusta la altura */
    }

    /* Texto superpuesto del carrusel */
    .carousel_caption {
        bottom: -40%;
        /* Posiciona el texto un poco más alto en la imagen */
        left: 65%;
        /* Ajusta desde el borde izquierdo */
        width: 90%;
        /* Ocupa más espacio horizontal */
        text-align: left;
        /* Alinea el texto hacia la izquierda */
    }

    /* Título del texto */
    .carousel_caption .carousel_text {
        font-size: 1.2rem;
        /* Reduce el tamaño del texto */
        line-height: 1.3;
        /* Ajusta el espaciado entre líneas */
    }

    .carousel-text2 {
        position: relative;
        z-index: 2;
        /* Coloca el texto sobre la imagen */

        padding: 20px;
        width: 80%;
        /* El texto ocupa el 40% del ancho de la imagen */
        color: #333;
    }

    .carousel-text2.text-left {
        margin-left: 0px;
    }

    .carousel-text2.text-right {
        margin-right: -10px;
    }

    /* Texto del carrusel izquierdo y derecho */
    .carousel-text2 h3 {
        font-size: 1.2rem;
        /* Títulos más pequeños */
        line-height: 1.2;
    }

    .carousel-text2 p {
        font-size: 0.9rem;
        /* Texto más pequeño */
        line-height: 1.2;
    }

    /* Imagen principal con texto superpuesto */
    .header-main-image {
        height: 30vh;
        /* Reduce la altura de la imagen principal */
    }

    .main-text {
        top: 10%;
        right: -1%;
        max-width: 70%;
        /* Texto ocupa más espacio respecto a la imagen */
    }

    .main-text h2 {
        font-size: 1.1rem;
        /* Reduce el tamaño del título */
    }

    .main-text p {
        font-size: 0.9rem;
        /* Reduce el tamaño del texto */
        line-height: 1.2;
    }

}

@media (max-width: 786px) {

    /* Contenedor del carrusel */
    .carousel-fullwidth {
        margin: -10px 0px;
       
        /* Reduce la altura del carrusel en dispositivos móviles */

    }

    /* Pista del carrusel */
    .carousel-track {
        flex-direction: row;
        /* Asegura que las imágenes sigan siendo horizontales */
    }



  /* Texto del carrusel */
.carousel-caption {
    position: absolute;
    top: 65%; /* Baja el texto más cerca del centro */
    left: 30%; /* Mueve el texto más a la derecha */
    transform: translateY(-10%); /* Centra verticalmente */
    padding: 10px 15px; /* Ajusta el padding */
   
    max-width: 100%; /* Asegura que el texto no ocupe todo el ancho */
    
    
}

    .carousel-caption h3 {
        font-size: 1.0rem;
        /* Reduce el tamaño del título */
    }

    .carousel-caption ul li {
        font-size: 0.8rem;
        /* Reduce el tamaño del listado */
        line-height: 1;
        /* Reduce el espacio entre líneas */
    }

    /* Controles del carrusel */
    .carousel-control {
        top: 50%;
        /* Centra las flechas verticalmente */
        font-size: .5rem;
        /* Reduce el tamaño de las flechas */
        padding: 8px;
        /* Ajusta el tamaño del botón */
    }
}

@media (max-width:376px) {
    .header2 {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding-top: 12vh;
    }
    /* Texto del carrusel */
.carousel-caption {

    top: 62%; /* Baja el texto más cerca del centro */
   
}
.carousel-caption h3{
    margin-bottom: 0px;
    font-size: 0.7rem;
}
     /* Contenedor del carrusel */
     .carousel-fullwidth {
        margin: 0px 0px;
 
        /* Reduce la altura del carrusel en dispositivos móviles */

    }
    .main-text {
        padding: 10px;
        bottom: 0.5%;
        /* Posiciona el texto más cerca del borde inferior */

    }

    /* Texto superpuesto del carrusel */
    .carousel_caption {
        bottom: -35%;
        /* Posiciona el texto un poco más alto en la imagen */
        left: 65%;
        /* Ajusta desde el borde izquierdo */
        width: 90%;
        /* Ocupa más espacio horizontal */
        text-align: left;
        /* Alinea el texto hacia la izquierda */
    }

    /* Título del texto */
    .carousel_caption .carousel_text {
        font-size: 1.0rem;
        /* Reduce el tamaño del texto */
        line-height: 1.3;
        /* Ajusta el espaciado entre líneas */
    }
}